body {
	padding: 0px;
	margin: 0px;
	font-family: 'Karla', sans-serif, 'Belleza', sans-serif;
	background-image: url('../img/photography.jpg');
	background-repeat: no-repeat;
    background-size: auto;
    background-size: 1366px 768px;
    background-origin: content-box;
    animation-fill-mode: forwards;
}
.title {
	padding: 10px;
	margin: 10px;
	background-color: #8198ff;
	border: 1px solid #8198ff;
	border-radius: 20px;

}

.title:hover {
	opacity: 0.5;
	padding-bottom: 15px;
	padding-top: 15px;
}

h1 {
	color: white;
	margin: 0px;
    line-height: 100%;
    font-weight: normal;
    padding: 10px;
    margin-left: 550px;
}






/** Button for Navigation daw **/

.btn {
	border: 1px solid #0066cc;
	padding: 10px 25px;
	color: #0066cc;
	text-decoration: none;
	border-radius: 15px;
	transition: all 0.15s;
	margin-left: 10em;
	margin-right: 12em;
}
.button {
	margin-top: 30px;
 
}
.button2:hover {
	background-color: #0066cc;
	color: white;

}
.button1:hover {
	background-color: #0066cc;
	color: white;
}